# Web Server Log Analysis - Python Take-Home Assessment

## Overview
This assessment involves analyzing the Calgary HTTP dataset, which contains approximately one year's worth of HTTP requests to the University of Calgary's Computer Science web server. You'll work with real-world web server log data to extract meaningful insights and demonstrate your Python data analysis skills.

## Part 1: Data Loading and Cleaning

### Instructions

* Work in the cells below - You can add as many cells as needed for data loading, cleaning, and exploration
* Import required libraries
* Implement data loading and cleaning - Create functions to download, parse, and clean the log data
* Explore the data - Understand the structure and identify any data quality issues

In [91]:
# You can write your code here for data loading, cleaning, and exploration. Add cells as necessary.

import pandas as pd

# Load the data into a DataFrame
try:
    df = pd.read_csv("access_log", sep=" ", header=None, on_bad_lines="skip", encoding="latin-1")
    print("Data loaded successfully. Preview:")
    print(df.head())
except FileNotFoundError:
    print("Error: The file 'access_log' was not found.")
except Exception as e:
    print(f"An error occurred while loading the data: {e}")

Data loaded successfully. Preview:
       0  1  2                      3       4                        5    6  \
0  local  -  -  [24/Oct/1994:13:41:41  -0600]  GET index.html HTTP/1.0  200
1  local  -  -  [24/Oct/1994:13:41:41  -0600]       GET 1.gif HTTP/1.0  200
2  local  -  -  [24/Oct/1994:13:43:13  -0600]  GET index.html HTTP/1.0  200
3  local  -  -  [24/Oct/1994:13:43:14  -0600]       GET 2.gif HTTP/1.0  200
4  local  -  -  [24/Oct/1994:13:43:15  -0600]       GET 3.gif HTTP/1.0  200

       7
0    150
1   1210
2   3185
3   2555
4  36403

In [92]:
df.drop(columns=4,inplace=True)

In [93]:
df.columns =['remotehost', 'rfc931', 'authuser', 'date', 'request', 'status', 'bytes']

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726369 entries, 0 to 726368
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   remotehost  726369 non-null  object
 1   rfc931      724950 non-null  object
 2   authuser    724877 non-null  object
 3   date        724809 non-null  object
 4   request     724755 non-null  object
 5   status      726368 non-null  object
 6   bytes       724728 non-null  object
dtypes: object(7)
memory usage: 38.8+ MB

In [59]:
df.describe()

,remotehost,rfc931,authuser,date,request,status,bytes
count,726369,724950,724877,724809,724755,726368,724728
unique,2,33,77,603612,12395,30,10192
top,local,-,-,-0700],GET index.html HTTP/1.0,200,0
freq,374996,724775,724703,24,139147,568245,99097

In [60]:
df.isna().sum()

remotehost       0
rfc931        1419
authuser      1492
date          1560
request       1614
status           1
bytes         1641
dtype: int64

In [94]:
# Remove the leading bracket from the date string
df['date'] = df['date'].str.lstrip('[')

# Convert to datetime
df['date'] = pd.to_datetime(df['date'], format='%d/%b/%Y:%H:%M:%S', errors='coerce')

# Preview the updated 'date' column with both date and time
print(df['date'].head())

0   1994-10-24 13:41:41
1   1994-10-24 13:41:41
2   1994-10-24 13:43:13
3   1994-10-24 13:43:14
4   1994-10-24 13:43:15
Name: date, dtype: datetime64[ns]

In [95]:
# Fill missing values in the DataFrame columns
default_values = {
    'remotehost': 'unknown',
    'rfc931': 'unknown',
    'authuser': 'unknown',
    'date':'unknown',
    'request': 'unknown',
    'status': 0,
    'bytes': 0
}
df.fillna(value=default_values, inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726369 entries, 0 to 726368
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   remotehost  726369 non-null  object
 1   rfc931      726369 non-null  object
 2   authuser    726369 non-null  object
 3   date        726369 non-null  object
 4   request     726369 non-null  object
 5   status      726369 non-null  object
 6   bytes       726369 non-null  object
dtypes: object(7)
memory usage: 38.8+ MB

In [96]:
df.date

0        1994-10-24 13:41:41
1        1994-10-24 13:41:41
2        1994-10-24 13:43:13
3        1994-10-24 13:43:14
4        1994-10-24 13:43:15
                 ...
726364   1995-10-11 14:11:39
726365   1995-10-11 14:11:40
726366   1995-10-11 14:11:45
726367   1995-10-11 14:11:58
726368   1995-10-11 14:14:17
Name: date, Length: 726369, dtype: datetime64[ns]

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726369 entries, 0 to 726368
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   remotehost  726369 non-null  object
 1   rfc931      726369 non-null  object
 2   authuser    726369 non-null  object
 3   date        726369 non-null  object
 4   request     726369 non-null  object
 5   status      726369 non-null  object
 6   bytes       726369 non-null  object
dtypes: object(7)
memory usage: 38.8+ MB

In [96]:
# Convert data types
# Ensure 'status' and 'bytes' are numeric, and 'date' is properly parsed
df['status'] = pd.to_numeric(df['status'], errors='coerce')
df['bytes'] = pd.to_numeric(df['bytes'], errors='coerce')
df['date'] = pd.to_datetime(df['date'], format='%d/%b/%Y:%H:%M:%S', errors='coerce')

## ⚠️ IMPORTANT: Template Questions Section
**DO NOT MODIFY THE TEMPLATE BELOW THIS POINT**

The following section contains the assessment questions. You may add cells above this section for data loading, cleaning, and exploration, but do not modify the function signatures or structure of the questions below.

## Part 2: Analysis Questions

### Instructions

* Implement each function according to its docstring specifications
* Use the cleaned data you prepared in Part 1
* Ensure your functions return the exact data types specified
* Test your functions to verify they work correctly
* You may add helper functions, but keep the main function signatures unchanged

### Q1: Count of total log records

In [78]:
def total_log_records(df) -> int:
    """
    Q1: Count of total log records.

    Objective:
        Determine the total number of HTTP log entries in the dataset.
        Each line in the log file represents one HTTP request.

    Returns:
        int: Total number of log entries.
    """

    return df.shape[0]


answer1 = total_log_records(df)
print("Answer 1:")
print(answer1)

Answer 1:
726369

### Q2: Count of unique hosts

In [48]:
def unique_host_count(df) -> int:
    """
    Q2: Count of unique hosts.

    Objective:
        Determine how many distinct hosts accessed the server.

    Returns:
        int: Number of unique hosts.
    """

    return len(df.remotehost.unique())



answer2 = unique_host_count(df)
print("Answer 2:")
print(answer2)

Answer 2:
2

### Q3: Date-wise unique filename counts

dtype('<M8[ns]')

In [79]:
df.date.unique()

<DatetimeArray>
['1994-10-24 13:41:41', '1994-10-24 13:43:13', '1994-10-24 13:43:14',
 '1994-10-24 13:43:15', '1994-10-24 13:43:17', '1994-10-24 13:46:45',
 '1994-10-24 13:46:47', '1994-10-24 13:46:50', '1994-10-24 13:47:19',
 '1994-10-24 13:47:41',
 ...
 '1995-10-11 14:09:41', '1995-10-11 14:10:57', '1995-10-11 14:10:58',
 '1995-10-11 14:10:59', '1995-10-11 14:11:38', '1995-10-11 14:11:39',
 '1995-10-11 14:11:40', '1995-10-11 14:11:45', '1995-10-11 14:11:58',
 '1995-10-11 14:14:17']
Length: 603572, dtype: datetime64[ns]

In [80]:
def datewise_unique_filename_counts(df) -> dict[str, int]:
    """
    Q3: Date-wise unique filename counts.

    Objective:
        For each date, count the number of unique filenames that accessed the server.
        The date should be in 'dd-MMM-yyyy' format (e.g., '01-Jul-1995').

    Returns:
            dict: A dictionary mapping each date to its count of unique filenames.
              Example: {'01-Jul-1995': 123, '02-Jul-1995': 150}
    """
    # Count occurrences of each date
    df['date']  = pd.to_datetime(df['date'], errors='coerce').dt.strftime('%d-%b-%Y')
    return df['date'].value_counts().to_dict()

answer3 = datewise_unique_filename_counts(df)
print("Answer 3:")
print(answer3)

Answer 3:
{'21-Mar-1995': 6614, '29-Mar-1995': 6353, '21-Sep-1995': 5471, '28-Mar-1995': 5376, '07-Feb-1995': 5216, '09-Feb-1995': 5025, '26-Sep-1995': 4894, '23-Mar-1995': 4885, '20-Mar-1995': 4783, '13-Sep-1995': 4746, '30-Mar-1995': 4627, '02-Oct-1995': 4592, '20-Sep-1995': 4524, '27-Mar-1995': 4519, '14-Mar-1995': 4472, '08-Feb-1995': 4409, '25-Sep-1995': 4358, '15-Mar-1995': 4293, '22-Mar-1995': 4166, '27-Sep-1995': 4151, '19-Sep-1995': 4079, '07-Apr-1995': 4016, '28-Sep-1995': 4004, '04-Oct-1995': 3967, '13-Mar-1995': 3962, '14-Sep-1995': 3959, '12-Apr-1995': 3867, '06-Oct-1995': 3853, '29-Sep-1995': 3818, '03-Oct-1995': 3818, '15-Sep-1995': 3764, '05-Oct-1995': 3718, '10-Oct-1995': 3706, '16-Mar-1995': 3686, '06-Feb-1995': 3587, '11-Sep-1995': 3543, '15-Feb-1995': 3527, '06-Apr-1995': 3523, '18-Sep-1995': 3492, '05-Apr-1995': 3486, '11-Apr-1995': 3481, '31-Mar-1995': 3455, '14-Feb-1995': 3391, '10-Apr-1995': 3390, '22-Sep-1995': 3381, '10-Mar-1995': 3368, '25-May-1995': 3330, '09-May-1995': 3316, '06-May-1995': 3307, '12-Sep-1995': 3287, '31-Jan-1995': 3240, '13-Feb-1995': 3212, '08-Sep-1995': 3208, '02-Aug-1995': 3138, '07-Mar-1995': 3134, '04-Apr-1995': 3131, '10-Feb-1995': 2970, '09-Mar-1995': 2968, '22-May-1995': 2923, '03-Apr-1995': 2915, '25-Jul-1995': 2914, '23-Sep-1995': 2897, '06-Mar-1995': 2890, '24-Sep-1995': 2853, '02-Feb-1995': 2845, '10-May-1995': 2834, '04-Aug-1995': 2828, '30-Jan-1995': 2825, '09-Oct-1995': 2814, '19-Jun-1995': 2813, '14-Aug-1995': 2800, '08-Aug-1995': 2796, '09-Aug-1995': 2792, '22-Feb-1995': 2786, '23-Aug-1995': 2774, '01-Feb-1995': 2712, '04-Feb-1995': 2707, '08-Mar-1995': 2679, '23-May-1995': 2669, '03-Aug-1995': 2664, '10-Aug-1995': 2657, '28-Jul-1995': 2657, '16-Feb-1995': 2596, '04-Jul-1995': 2580, '21-Jun-1995': 2555, '03-Feb-1995': 2531, '11-Oct-1995': 2522, '21-May-1995': 2505, '09-Apr-1995': 2499, '01-Aug-1995': 2471, '27-Jul-1995': 2468, '14-Jun-1995': 2463, '23-Feb-1995': 2443, '26-Jul-1995': 2440, '25-Mar-1995': 2433, '03-May-1995': 2416, '05-May-1995': 2401, '11-May-1995': 2400, '07-Sep-1995': 2382, '31-Jul-1995': 2378, '22-Aug-1995': 2374, '06-Jun-1995': 2370, '22-Jun-1995': 2369, '13-Apr-1995': 2338, '26-Apr-1995': 2337, '04-May-1995': 2322, '24-Aug-1995': 2318, '30-Sep-1995': 2304, '19-Jan-1995': 2304, '07-May-1995': 2298, '30-Aug-1995': 2297, '19-Apr-1995': 2294, '08-Apr-1995': 2286, '19-May-1995': 2270, '18-May-1995': 2270, '16-Aug-1995': 2267, '17-Nov-1994': 2264, '08-May-1995': 2262, '25-Aug-1995': 2260, '26-Jun-1995': 2245, '29-Nov-1994': 2237, '24-Jan-1995': 2233, '26-Jan-1995': 2230, '21-Apr-1995': 2229, '21-Aug-1995': 2217, '11-Jul-1995': 2215, '28-Aug-1995': 2207, '27-Jun-1995': 2197, '28-Feb-1995': 2193, '24-Jul-1995': 2185, '17-Jul-1995': 2177, '17-Aug-1995': 2175, '01-Oct-1995': 2174, '28-Jun-1995': 2167, '26-May-1995': 2159, '24-May-1995': 2159, '26-Mar-1995': 2154, '01-Mar-1995': 2153, '16-Nov-1994': 2142, '17-Feb-1995': 2132, '30-Nov-1994': 2113, '15-Aug-1995': 2113, '03-Nov-1994': 2112, '02-Nov-1994': 2106, '02-Mar-1995': 2093, '31-Oct-1994': 2080, '02-May-1995': 2078, '08-Jun-1995': 2059, '20-Apr-1995': 2057, '27-Feb-1995': 2057, '21-Jul-1995': 2054, '18-Aug-1995': 2049, '24-Mar-1995': 2046, '20-Jun-1995': 2022, '17-Sep-1995': 2021, '08-Oct-1995': 2018, '31-Aug-1995': 2018, '28-Apr-1995': 2006, '27-Jan-1995': 2005, '11-Aug-1995': 1995, '23-Jun-1995': 1988, '17-Mar-1995': 1968, '16-Jan-1995': 1958, '20-Jan-1995': 1958, '05-Jul-1995': 1955, '17-May-1995': 1950, '01-Jun-1995': 1942, '27-Apr-1995': 1941, '12-Feb-1995': 1938, '29-Aug-1995': 1934, '05-Feb-1995': 1930, '25-Jan-1995': 1923, '19-Jul-1995': 1906, '27-Oct-1994': 1885, '16-Sep-1995': 1883, '01-Nov-1994': 1882, '13-Jul-1995': 1877, '21-Feb-1995': 1870, '20-Jul-1995': 1853, '07-Aug-1995': 1851, '15-Jun-1995': 1841, '19-Dec-1994': 1840, '12-Jan-1995': 1830, '12-Jul-1995': 1830, '13-Jun-1995': 1828, '24-Feb-1995': 1822, '29-Jun-1995': 1817, '14-Jul-1995': 1816, '28-Oct-1994': 1813, '13-Dec-1994': 1800, '12-Jun-1995': 1799, '16-Jun-1995': 1797, '31-May-1995': 1793, '05-Dec-1994': 1790, '15-May-1995': 1787, '21-Nov-1994': 1777, '04-Nov-1994': 1775, '13-Aug-1995': 1758, '22-Nov-1994': 1753, '06-Sep-1995': 1747, '06-Jul-1995': 1745, '10-Jul-1995': 1743, '18-Jul-1995': 1740, '03-Jul-1995': 1740, '05-Jun-1995': 1734, '02-Jun-1995': 1734, '16-May-1995': 1727, '05-Aug-1995': 1714, '07-Jun-1995': 1713, '12-Dec-1994': 1708, '18-Apr-1995': 1703, '13-Jan-1995': 1680, '26-Oct-1994': 1680, '24-Nov-1994': 1675, '18-Feb-1995': 1670, '09-Jun-1995': 1670, '18-Jan-1995': 1670, '10-Jan-1995': 1665, '22-Apr-1995': 1665, '28-Nov-1994': 1660, '01-Apr-1995': 1652, '12-May-1995': 1652, '03-Mar-1995': 1647, '30-May-1995': 1638, '23-Jul-1995': 1636, '25-Jun-1995': 1625, '05-Mar-1995': 1623, '12-Mar-1995': 1616, '10-Sep-1995': 1613, '09-Sep-1995': 1602, '30-Jun-1995': 1602, '23-Jan-1995': 1566, '30-Jul-1995': 1559, '20-Feb-1995': 1555, '07-Nov-1994': 1554, '07-Oct-1995': 1548, '25-Apr-1995': 1545, '06-Aug-1995': 1539, '25-Feb-1995': 1525, '07-Dec-1994': 1524, '23-Nov-1994': 1520, '01-May-1995': 1511, '17-Apr-1995': 1507, '11-Mar-1995': 1505, '17-Jan-1995': 1488, '18-Mar-1995': 1485, '08-Dec-1994': 1467, '02-Apr-1995': 1446, '24-Apr-1995': 1433, '09-Dec-1994': 1413, '04-Mar-1995': 1412, '09-Nov-1994': 1376, '20-Aug-1995': 1374, '06-Dec-1994': 1372, '25-Nov-1994': 1349, '11-Jan-1995': 1346, '19-Mar-1995': 1345, '09-Jan-1995': 1341, '28-Jan-1995': 1339, '17-Jun-1995': 1339, '14-Nov-1994': 1330, '02-Dec-1994': 1324, '29-Jul-1995': 1289, '22-Jul-1995': 1286, '07-Jul-1995': 1285, '29-May-1995': 1271, '29-Jan-1995': 1268, '26-Feb-1995': 1267, '14-Dec-1994': 1265, '18-Nov-1994': 1262, '08-Nov-1994': 1260, '26-Aug-1995': 1256, '20-Dec-1994': 1249, '27-Aug-1995': 1242, '02-Jul-1995': 1221, '10-Nov-1994': 1216, '15-Nov-1994': 1205, '25-Oct-1994': 1194, '01-Sep-1995': 1191, '14-Apr-1995': 1188, '16-Apr-1995': 1178, '12-Aug-1995': 1176, '05-Sep-1995': 1171, '19-Feb-1995': 1158, '15-Dec-1994': 1149, '17-Dec-1994': 1143, '21-Dec-1994': 1118, '04-Jun-1995': 1117, '20-May-1995': 1112, '18-Dec-1994': 1102, '05-Jan-1995': 1100, '14-May-1995': 1092, '04-Sep-1995': 1065, '16-Dec-1994': 1064, '29-Apr-1995': 1055, '10-Jun-1995': 1028, '15-Jul-1995': 1028, '15-Apr-1995': 1027, '02-Sep-1995': 1018, '03-Jan-1995': 1016, '11-Feb-1995': 1003, '03-Jun-1995': 995, '01-Dec-1994': 992, '18-Jun-1995': 991, '19-Aug-1995': 991, '24-Jun-1995': 982, '23-Apr-1995': 966, '16-Jul-1995': 935, '22-Dec-1994': 908, '30-Oct-1994': 902, '13-May-1995': 900, '29-Oct-1994': 898, '04-Jan-1995': 871, '11-Jun-1995': 866, '08-Jul-1995': 829, '30-Apr-1995': 822, '01-Jul-1995': 806, '27-May-1995': 805, '22-Jan-1995': 787, '20-Nov-1994': 784, '15-Jan-1995': 760, '09-Jul-1995': 758, '03-Dec-1994': 712, '11-Nov-1994': 710, '24-Oct-1994': 705, '26-Nov-1994': 681, '03-Sep-1995': 654, '19-Nov-1994': 648, '21-Jan-1995': 624, '13-Nov-1994': 613, '11-Dec-1994': 603, '04-Dec-1994': 591, '27-Nov-1994': 588, '06-Jan-1995': 587, '28-May-1995': 582, '06-Nov-1994': 582, '05-Nov-1994': 564, '27-Dec-1994': 511, '10-Dec-1994': 489, '02-Jan-1995': 489, '12-Nov-1994': 487, '14-Jan-1995': 481, '28-Dec-1994': 465, '23-Dec-1994': 455, '08-Jan-1995': 450, '25-Dec-1994': 387, '07-Jan-1995': 342, '30-Dec-1994': 336, '31-Dec-1994': 301, '29-Dec-1994': 301, '26-Dec-1994': 280, '01-Jan-1995': 251, '24-Dec-1994': 123}

### Q4: Number of 404 response codes

In [81]:
def count_404_errors(df) -> int:
    """
    Q4: Number of 404 response codes.

    Objective:
        Count how many times the HTTP 404 Not Found status appears in the logs.

    Returns:
        int: Number of 404 errors.
    """

    c = 0
    for i in df['status']:
        if i==404:
            c +=1
    return c  # Placeholder return


answer4 = count_404_errors(df)
print("Answer 4:")
print(answer4)

Answer 4:
23511

### Q5: Top 15 filenames with 404 responses

In [82]:
def top_15_filenames_with_404(df) -> list[tuple[str, int]]:
    """
    Q5: Top 15 filenames with 404 responses.

    Objective:
        Identify which requested URLs most frequently resulted in a 404 error.
        Return the top 15 filenames sorted by frequency.

    Returns:
        list: A list of tuples (filename, count), sorted by count in descending order.
              Example: [('index.html', 200), ('about.html', 150), ...]
    """
    # Filter rows with 404 status code
    df_404 = df[df['status'] == 404]

    # Extract filenames from the 'request' column
    filenames = df_404['request'].str.split().str[1].dropna()

    # Count occurrences of filenames
    filename_counts = filenames.value_counts()

    # Convert to list of tuples
    top_15_404 = filename_counts.head(15).items()

    return list(top_15_404)

answer5 = top_15_filenames_with_404(df)
print("Answer 5:")
print(answer5)

Answer 5:
[('index.html', 4735), ('4115.html', 902), ('1611.html', 647), ('5698.xbm', 585), ('710.txt', 408), ('2002.html', 259), ('2177.gif', 193), ('10695.ps', 161), ('6555.html', 153), ('487.gif', 152), ('151.html', 149), ('3414.gif', 148), ('488.gif', 148), ('40.html', 148), ('9678.gif', 142)]

### Q6: Top 15 file extension with 404 responses

In [83]:
def top_15_ext_with_404(df) -> list[tuple[str, int]]:
    """
    Q6: Top 15 file extensions with 404 responses.

    Objective:
        Find which file extensions generated the most 404 errors.
        Return the top 15 sorted by number of 404s.

    Returns:
        list: A list of tuples (extension, count), sorted by count in descending order.
              Example: [('html', 45), ...]
    """

    # Filter rows with 404 status code
    df_404 = df[df['status'] == 404]

    # Extract file extensions from the 'request' column
    extensions = df_404['request'].str.extract(r'\.([a-zA-Z0-9]+)$', expand=False).dropna()

    # Count occurrences of extensions
    extension_counts = extensions.value_counts()

    # Convert to list of tuples
    top_15_404 = extension_counts.head(15).items()

    return list(top_15_404)

answer6 = top_15_ext_with_404(df)
print("Answer 6:")
print(answer6)

Answer 6:
[('0', 23408), ('html', 25), ('gif', 8), ('room', 3), ('xbm', 2), ('txt', 1), ('htm', 1), ('com', 1)]

### Q7: Total bandwidth transferred per day for the month of July 1995

In [28]:
df['date'].value_counts()

date
21/03/95    6614
29/03/95    6353
21/09/95    5471
28/03/95    5376
07/02/95    5216
            ...
31/12/94     301
29/12/94     301
26/12/94     280
01/01/95     251
24/12/94     123
Name: count, Length: 354, dtype: int64

In [83]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
july_1995 = df[(df['date'].dt.month == 7) & (df['date'].dt.year == 1995)]
g = july_1995.groupby('date')['bytes'].sum()

In [89]:
import pandas as pd

def total_bandwidth_per_day(df) -> dict[str, int]:
    """
    Q7: Total bandwidth transferred per day for the month of July 1995.

    Objective:
        Sum the number of bytes transferred per day.
        Skip entries where the byte field is missing or invalid.

    Returns:
        dict: A dictionary mapping each date to total bytes transferred.
              Example: {'01-Jul-1995': 123456789, ...}
    """

    # Ensure 'date' column is datetime
    df['date'] = pd.to_datetime(df['date'], errors='coerce')

    # Filter rows for July 1995
    july_1995 = df[(df['date'].dt.month == 7) & (df['date'].dt.year == 1995)]

    # Ensure 'bytes' column is numeric and skip invalid entries
    july_1995.loc[:, 'bytes'] = pd.to_numeric(july_1995['bytes'], errors='coerce')
    july_1995 = july_1995.dropna(subset=['bytes'])

    # Group by date and sum bytes
    bandwidth_per_day = july_1995.groupby(july_1995['date'].dt.strftime('%d-%b-%Y'))['bytes'].sum()

    return bandwidth_per_day.to_dict()


# Assuming 'df' is your DataFrame containing the data
answer7 = total_bandwidth_per_day(df)
print("Answer 7:")
print(answer7)

Answer 7:
{'01-Jul-1995': 11333976.0, '02-Jul-1995': 8656918.0, '03-Jul-1995': 13596612.0, '04-Jul-1995': 26573988.0, '05-Jul-1995': 19541225.0, '06-Jul-1995': 19754176.0, '07-Jul-1995': 9427822.0, '08-Jul-1995': 5403491.0, '09-Jul-1995': 4660556.0, '10-Jul-1995': 14917754.0, '11-Jul-1995': 22507207.0, '12-Jul-1995': 17367065.0, '13-Jul-1995': 15989234.0, '14-Jul-1995': 19184957.0, '15-Jul-1995': 15773233.0, '16-Jul-1995': 9016378.0, '17-Jul-1995': 19601338.0, '18-Jul-1995': 17099761.0, '19-Jul-1995': 17851725.0, '20-Jul-1995': 20752623.0, '21-Jul-1995': 24751044.0, '22-Jul-1995': 8128285.0, '23-Jul-1995': 9593870.0, '24-Jul-1995': 22308265.0, '25-Jul-1995': 24553589.0, '26-Jul-1995': 24995540.0, '27-Jul-1995': 25969995.0, '28-Jul-1995': 36460693.0, '29-Jul-1995': 11695395.0, '30-Jul-1995': 23189598.0, '31-Jul-1995': 30730715.0}

### Q8: Hourly request distribution

In [97]:
df['date']

0        1994-10-24 13:41:41
1        1994-10-24 13:41:41
2        1994-10-24 13:43:13
3        1994-10-24 13:43:14
4        1994-10-24 13:43:15
                 ...
726364   1995-10-11 14:11:39
726365   1995-10-11 14:11:40
726366   1995-10-11 14:11:45
726367   1995-10-11 14:11:58
726368   1995-10-11 14:14:17
Name: date, Length: 726369, dtype: datetime64[ns]

In [51]:
df.date.dtype

dtype('O')

In [89]:
df['date']

0        1994-10-24
1        1994-10-24
2        1994-10-24
3        1994-10-24
4        1994-10-24
            ...
726364   1995-10-11
726365   1995-10-11
726366   1995-10-11
726367   1995-10-11
726368   1995-10-11
Name: date, Length: 726369, dtype: datetime64[ns]

In [87]:
# Ensure 'date' column is properly converted to datetime
df['date'] = pd.to_datetime(df['date'], format='%d/%b/%Y:%H:%M:%S', errors='coerce')

# Preview the 'date' column to confirm it includes both date and time
print(df['date'].head())

0   1994-10-24
1   1994-10-24
2   1994-10-24
3   1994-10-24
4   1994-10-24
Name: date, dtype: datetime64[ns]

In [97]:
import pandas as pd

def hourly_request_distribution(df) -> dict[int, int]:
    """
    Q8: Hourly request distribution.

    Objective:
        Count the number of requests made during each hour (00 to 23).
        Useful for understanding traffic peaks.

    Returns:
        dict: A dictionary mapping hour (int) to request count.
              Example: {0: 120, 1: 90, ..., 23: 80}
    """
    # Ensure 'date' column is datetime and drop rows with null dates
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    df = df.dropna(subset=['date'])

    # Extract hour from the timestamp using .loc
    df = df.copy()  # Create a copy to avoid SettingWithCopyWarning
    df.loc[:, 'hour'] = df['date'].dt.hour

    # Count how many times each hour appears
    hour_counts = df['hour'].value_counts().sort_index()

    # Return as dictionary
    return hour_counts.to_dict()

# Assuming 'df' is your DataFrame containing the request data
# Call and print the result
answer8 = hourly_request_distribution(df)
print(answer8)

{0: 18761, 1: 14385, 2: 12688, 3: 10899, 4: 9966, 5: 10801, 6: 13059, 7: 16664, 8: 26589, 9: 33984, 10: 43373, 11: 47584, 12: 46812, 13: 51450, 14: 54554, 15: 50369, 16: 51172, 17: 45053, 18: 33211, 19: 30565, 20: 29684, 21: 27403, 22: 23825, 23: 21877}

### Q9: Top 10 most requested filenames

In [98]:
def top_10_most_requested_filenames(df) -> list[tuple[str, int]]:
    """
    Q9: Top 10 most requested filenames.

    Objective:
        Identify the most commonly requested URLs (irrespective of status code).

    Returns:
        list: A list of tuples (filename, count), sorted by count in descending order.
                Example: [('index.html', 500), ...]
    """
    # Extract filenames from the 'request' column
    filenames = df['request'].str.split().str[1].dropna()

    # Count occurrences of filenames
    filename_counts = filenames.value_counts()

    # Get the top 10 filenames
    top_10_filenames = filename_counts.head(10).items()

    return list(top_10_filenames)


answer9 = top_10_most_requested_filenames(df)
print("Answer 9:")
print(answer9)

Answer 9:
[('index.html', 140042), ('3.gif', 24006), ('2.gif', 23604), ('4.gif', 8018), ('244.gif', 5149), ('5.html', 5010), ('4097.gif', 4874), ('8870.jpg', 4492), ('6733.gif', 4277), ('8472.gif', 3843)]

### Q10: HTTP response code distribution

In [99]:
def response_code_distribution() -> dict[int, int]:
    """
    Q10: HTTP response code distribution.

    Objective:
        Count how often each HTTP status code appears in the logs.

    Returns:
        dict: A dictionary mapping HTTP status codes (as int) to their frequency.
              Example: {200: 150000, 404: 3000}
    """

    return df['status'].value_counts().to_dict()

answer10 = response_code_distribution()
print("Answer 10:")
print(answer10)

Answer 10:
{200.0: 568245, 304.0: 97782, 302.0: 30292, 404.0: 23511, 403.0: 4741, 401.0: 46, 501.0: 43, 500.0: 42, 400.0: 15, 36403.0: 3, 2555.0: 3, 441.0: 2, 9585.0: 1, 0.0: 1, 2881.0: 1, 884.0: 1, 2366.0: 1, 30720.0: 1, 2323.0: 1, 17188.0: 1, 784.0: 1, 2868.0: 1, 1469.0: 1, 1268.0: 1, 167.0: 1, 819.0: 1, 593.0: 1, 3185.0: 1, 2786.0: 1}